html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    margin: 0;
    width: 100%;
}

.settings-form {
    width: 100%;
}

.settings-form .wrapper {
    border: 1px solid #000;
    margin: 0 1%;
}

.display-canvas {
    border: 1px solid #000;
    box-sizing: border-box;
    display: block;
    margin: 1%;
    width: calc(100% - 2%);
}

.overlay-button {
    bottom: 20%;
    display: none;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}
